  :root {
    --swiper-pagination-color: red;
  }
  
.swiper-pagination {
    position: relative;
    transition: .3s;
    transform: translate3d(0,0,0);
    width: auto;
	  max-width: 25rem;
	  text-align: left; 
    }
 
  .swiper-pagination-bullet {
    width: 3.375rem;
    height: 2px;
    border-radius: 0px;
    display: inline-block;
    background-color: #ffffff;
    background: #ffffff;
    opacity: 0.4;
    margin: 0px 16px 0px 0px !important;
 }
 
 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    cursor: pointer;
 }
  
  
  .swiper-button-next, .swiper-button-prev {
      display: none;
  }
  .arrow-next:focus, .arrow-previous:focus {
    outline: none;
  }
  .swiper-slide.swiper-slide-active .card{
  	opacity: 100%;
  }
  .submit-button:focus {
		outline: none;
  }
  .text-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
  
  .careers-gallery_list {
     transform: translateX(0);
    will-change: transform;
    transition: transform 0.1s; 
    }
